body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}

span{
    color:#ffa500;
}
h1{
    font-size: 50px;
    font-weight: 400;
}

section{

    display: flex;
}

.half{
    width: 50%;
    padding-left: 5%;
}
 .half img{
     width: 80%;
 }
 .link-button{
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 10px 40px;
     border-radius: 5px;
     color: white;
     font-weight: 700;
     text-transform: uppercase;
 }
 .top-benner{
     background-image: url(top-banner.png);
     background-repeat: no-repeat;
     
 }

 .half2{
     width: 50%;
 }

 .half2 img{
     width:80%; 
     padding-left: 10%;

}
.half2 h1, h2, p{
    padding-right:30%;
}
.section2{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}   

.last{
    display: flex;
}
 .color{
    color:#ffa500;  
 }

 .half-3{
     width: 40%;
     padding-left: 5%;
     margin-left: 5%;
     margin-right: 5%;
     border-radius: 15px;
     
 }
 .last div{
    box-shadow: 5px 7px 40px gray;
    
 }
 .aaa{
     margin-left: 0;
 }

 .last-section{
     margin-bottom: 150px;
     background-image: url(exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
 }

 .half-3{
     border-left: 7px solid #F96F5A;
 }

 .aaa{
     border-left: 7px solid;
     border-image: linear-gradient(blue, cyan);
     border-image-slice: 1;
     
 }
 .hi{
     text-align: center;
     
 }